<!DOCTYPE html>
<html class="no-js" lang="en">



<body>
  <div class="main-wrapper">
    <!-- Header Navigation Start -->
    <%- include('layout/header.ejs') %>
      <!-- Header Navigation End -->

      <div style="background-image: url('assets/images/upgrill.png')">
        <div class="container">
          <div class="about-malabar">
            <div class="about-mlf-title">
              <h1>Malabar Literature Festival</h1>
            </div>
            <div class="about-mlf-img">
              <img src="assets/images/about-mlf2.png" alt="" style="max-width: 100%; height: auto" />
            </div>

            <div class="about-mlf-para">
              <p>
                <%= aboutData[0].aboutMlf %>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Footer Start -->
  <%- include('layout/footer.ejs') %>
    <!-- Footer End -->

    <!-- JS
  ============================================ -->

    <!-- carousel & jQuery JS -->

    <script src="assets/js/js/jquery.min.js"></script>
    <script src="assets/js/js/owl.carousel.min.js"></script>
    <script src="assets/js/js/main.js"></script>

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/back-to-top.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Main JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>