<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Malabar Literature Festival</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favnew.svg" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet" />

  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css" />

  <!-- CSS
	============================================ -->

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="assets/css/all.min.css" />
  <link rel="stylesheet" href="assets/css/flaticon.css" />

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="assets/css/magnific-popup.css" />
  <link rel="stylesheet" href="assets/css/aos.css" />
  <link rel="stylesheet" href="assets/css/nice-select.css" />

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="assets/css/style.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  <!-- carousel Style CSS -->
  <link rel="stylesheet" href="assets/css/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" />
  <link rel="stylesheet" href="assets/css/css/style.css" />
</head>

<body>
  <div class="main-wrapper">
    
    <!-- Header Navigation Start -->
    <%- include('header.ejs') %>
    <!-- Header Navigation End -->

    <div class="container">
      <div class="attende-registration" style="margin-top: 100px">
        <div class="registration-title">
          <h1>Registration</h1>
        </div>
      </div>
    </div>
    <div class="register-table" style="
          background-image: url('assets/images/RegisterUnion2.svg');
          background-size: cover;
          background-position: center center;
          width: 100%;
          min-height: 450px;
          display: flex;
          justify-content: center;
          align-items: center;
        ">
      <div class="container">
        <div class="common-reg-table-section">
          <!-- <div class="delegate-title">
              <h1>Student</h1>
            </div> -->

          <div class="register-form">
            <div class="container">
            <div class="register-form">
              <div class="container">
                <div id="alert-message" class="alert" style="display: none;"></div>

              <form action="/common-reg" method="post" id="commonReg-form">

                <input type="hidden" name="type" value="commonReg">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" id="name" name="name" class="form-control" required />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="gender">Gender:</label>
                      <select id="gender" name="gender" class="form-control" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="contact">Contact Number:</label>
                      <input type="tel" id="contact" name="contact" class="form-control" required />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Email ID:</label>
                      <input type="email" id="email" name="email" class="form-control" required />
                      <p id="emailError" class="text-danger"></p>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="row register-amount-btn">
          <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-primary" id="submit-button" style="border-radius: 20px" onclick="submitForm()">
              Book Your Ticket
            </button>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

    <!-- Footer Start -->
    <%- include('footer.ejs') %>
    <!-- Footer End -->
    
  <!-- JS
  ============================================ -->

    <!-- carousel & jQuery JS -->

    <script src="assets/js/js/jquery.min.js"></script>
    <script src="assets/js/js/owl.carousel.min.js"></script>
    <script src="assets/js/js/main.js"></script>

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/back-to-top.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Main JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="node_modules/slick-carousel/slick/slick.min.js"
    ></script>
    <script src="assets/js/main.js"></script>

    <script>
      function submitForm() {
        // Use JavaScript to send an AJAX request to your backend route
        $.ajax({
          type: "POST",
          url: "/common-reg",
          data: $("#commonReg-form").serialize(),
          success: function (response) {
            // Display the success message in the alert div
            $("#alert-message").removeClass("alert-danger").addClass("alert-success").text(response.message).show();
    
            // Hide the form and the submit button after a successful submission
            // $("#commonReg-form").hide();
            // $("#submit-button").hide();
    
            // Set a timer to hide the success message after 3 seconds
            setTimeout(function () {
              $("#alert-message").hide();
              window.location.href = "/register";
            }, 3000);
          },
    
          error: function (error) {
            // Display the error message in the alert div
            $("#alert-message").removeClass("alert-success").addClass("alert-danger").text(error.responseJSON.error).show();
    
            // Set a timer to hide the error message after 3 seconds
            setTimeout(function () {
              $("#alert-message").hide();
              window.location.href = "/"
            }, 4000);
          },
        });
      }
    </script>

    <script>
      $(document).ready(function () {
      // Function to send a WhatsApp message using the WhatsApp API
      function sendWhatsAppMessage(number, message) {
          // WhatsApp API endpoint URL
          var whatsappApiUrl = "https://text.dxing.in/api/send";

          // WhatsApp API request data
          var requestData = {
            number: number,
            type: "text",
            message: message,
            instance_id: "64FD58E3440E2",
            access_token: "64afe205189a4",
          };

          // Send the WhatsApp message using AJAX
          $.ajax({
            type: "POST",
            url: whatsappApiUrl,
            contentType: "application/json",
            data: JSON.stringify(requestData),
            success: function (response) {
              // Handle the success response if needed
              console.log("WhatsApp message sent successfully:", response);
            },
            error: function (xhr, status, error) {
              // Handle any errors in sending the WhatsApp message
              console.error("Error sending WhatsApp message:", error);
            },
          });
        }
      });
    </script>
    
    
  </body>
</html>

