<!DOCTYPE html>
<html class="no-js" lang="en">

<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favnew.svg">

<head>
    <title>
        <%= title %>
    </title>

    <%- include('layout/header.ejs') %>
</head>

<body>
    <div class="main-wrapper">
        <div class="container wave_bg">
            <div class="row">
                <div class="organizing-commite-section fade-left">
                    <div class="org-committe-title">
                        <h1></h1>
                    </div>
                    <div class="organizing-imgs p-5">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="organizing_box">
                                        <div class="org-img">
                                            <img src="assets/images/shihab.png" alt="">
                                            <div class="speaker-content-inner">
                                                <h3 class="speakers-name">Sayyid Munavvar Ali <br> Shihab Thangal</h3>
                                                <p class="speakers-para">Chairman</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="organizing_box">
                                        <div class="org-img">
                                            <img src="assets/images/kp.png" alt="">
                                            <div class="speaker-content-inner">
                                                <h3 class="speakers-name">KP Ramanunni</h3>
                                                <p class="speakers-para">Festival Director</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <!-- Footer Start -->
    <%- include('layout/footer.ejs') %>
        <!-- Footer End -->

        <!-- JS
  ============================================ -->

        <!-- carousel & jQuery JS -->

        <script src="assets/js/js/jquery.min.js"></script>
        <script src="assets/js/js/owl.carousel.min.js"></script>
        <script src="assets/js/js/main.js"></script>

        <!-- Modernizer & jQuery JS -->
        <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- Plugins JS -->
        <script src="assets/js/swiper-bundle.min.js"></script>
        <script src="assets/js/back-to-top.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/aos.js"></script>
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Main JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
        <script src="assets/js/main.js"></script>
</body>

</html>