<!DOCTYPE html>
<html class="no-js" lang="en">



<body>
  <div class="main-wrapper">
    <!-- Header Navigation Start -->
    <%- include('layout/header.ejs') %>
      <!-- Header Navigation End -->

      <!-- Page Banner Start -->
      <div class="section page-banner-section">
        <div class="shape-2"></div>
        <div class="container">
          <div class="page-banner-wrap">
            <div class="row">
              <div class="col-lg-12">
                <!-- Page Banner Content Start -->
                <div class="page-banner text-center">
                  <h2 class="title">Contact Us</h2>
                </div>
                <!-- Page Banner Content End -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Banner End -->

      <!-- Contact Form Start -->
      <div class="contact-form-section section-padding">
        <div class="container">
          <!-- Contact Wrap Start -->
          <div class="contact-wrap">
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <div class="form-title text-center">
                  <h2 class="title">Sent Us A Message</h2>
                </div>
                <!-- Contact Form Wrap Start -->
                <div class="contact-form-wrap">
                  <form action="#">
                    <div class="row">
                      <div class="col-md-6">
                        <!-- Single Form Start -->
                        <div class="single-form">
                          <input class="form-control" type="text" placeholder="Your Name" />
                        </div>
                        <!-- Single Form End -->
                      </div>
                      <div class="col-md-6">
                        <!-- Single Form Start -->
                        <div class="single-form">
                          <input class="form-control" type="email" placeholder="Your Email" />
                        </div>
                        <!-- Single Form End -->
                      </div>
                      <div class="col-md-6">
                        <!-- Single Form Start -->
                        <div class="single-form">
                          <input class="form-control" type="text" placeholder="Your Number" />
                        </div>
                        <!-- Single Form End -->
                      </div>
                      <div class="col-md-6">
                        <!-- Single Form Start -->
                        <div class="single-form">
                          <input class="form-control" type="text" placeholder="Subject" />
                        </div>
                        <!-- Single Form End -->
                      </div>
                      <div class="col-md-12">
                        <!-- Single Form Start -->
                        <div class="single-form">
                          <textarea class="form-control" placeholder="Write A Message"></textarea>
                        </div>
                        <!-- Single Form End -->
                      </div>
                      <div class="col-md-12">
                        <!--  Single Form Start -->
                        <div class="form-btn text-center">
                          <button class="btn btn-primary" type="submit">
                            Submit Now
                          </button>
                        </div>
                        <!--  Single Form End -->
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Contact Form Wrap End -->
              </div>
            </div>
          </div>
          <!-- Contact Wrap End -->
        </div>
      </div>
      <!-- Contact Form End -->

      <!-- Contact Info Start -->
      <div class="section contact-info-section">
        <div class="container">
          <!-- Contact Info Wrap Start -->
          <div class="contact-info-wrap">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <!--Single Contact Info Start -->
                <div class="single-contact-info text-center">
                  <div class="info-icon color-2">
                    <i class="flaticon-phone-call"></i>
                  </div>
                  <div class="info-content">
                    <h5 class="title">Telephone</h5>
                    <p>+91 9562 661 133, 6766 306 049</p>
                  </div>
                </div>
                <!--Single Contact Info End -->
              </div>

              <div class="col-lg-6 col-sm-6">
                <!--Single Contact Info Start -->
                <div class="single-contact-info text-center">
                  <div class="info-icon color-3">
                    <i class="flaticon-pin"></i>
                  </div>
                  <div class="info-content">
                    <h5 class="title">Location</h5>
                    <p>Malabar Literature Festival BookPlus Publishers,</p>
                  </div>
                </div>
                <!--Single Contact Info End -->
              </div>
            </div>
          </div>
          <!-- Contact Info Wrap End -->
        </div>
      </div>
      <!-- Contact Info End -->

      <!-- Contact Map Start -->
      <div class="section contact-map-section">
        <div class="contact-map-wrap">
          <iframe id="gmap_canvas"
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d250672.2990066982!2d75.85530751201227!3d10.981881070005917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sHidaya%20Nagar%20Chemmad!5e0!3m2!1sen!2sin!4v1692797125558!5m2!1sen!2sin"
            width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!-- Contact Map End -->
  </div>

  <!-- Footer Start -->
  <%- include('layout/footer.ejs') %>
    <!-- Footer End -->

    <!-- JS
  ============================================ -->

    <!-- carousel & jQuery JS -->

    <script src="assets/js/js/jquery.min.js"></script>
    <script src="assets/js/js/owl.carousel.min.js"></script>
    <script src="assets/js/js/main.js"></script>

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/back-to-top.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Main JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>