<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Malabar Literature Festival</title>
    <meta name="robots" content="follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favnew.svg" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet" />

    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/aos.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <!-- carousel Style CSS -->
    <link rel="stylesheet" href="assets/css/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" />
    <link rel="stylesheet" href="assets/css/css/style.css" />
</head>

<body>
    <div class="main-wrapper">
        <!-- Header Navigation Start -->
        <%- include('layout/header.ejs') %>
            <!-- Header Navigation End -->

            <div class="container">
                <div class="event_inner_page">
                    <div class="thunjan_img">
                        <img src="assets/images/thunjan.svg" alt="">
                    </div>
                    <div class="event_inner_page_para" style="margin-top: 40px;">
                        <div class="ponanni_details">
                            <div class="ponanni">
                                <h1 style="color: #B29C4B;">ponnani</h1>
                            </div>
                            <div class="ponanni_img">
                                <img src="assets/images/PonanniVector.svg" alt="">
                            </div>
                        </div>
                        <div class="ponanni-para">
                            <p> Unveil the charm of Ponnani with De Malabricus Heritage Walk. Step into its rich culture
                                as
                                you marvel at the Ponnani Juma Masjid, Misrippalli and Maunathul Islam. Delve into
                                history
                                at the museum, and explore the timeless old warehouses in the harbour side . Experience
                                the
                                grandeur of the old Court Building and conclude your journey with the mesmerizing
                                melodies
                                of the Pattu Club in the old streets of Ponnani. Be a part of Ponnani's living heritage!
                            </p>
                            <br>
                            <p>
                                The heritage walk takes 3:00 hours in the afternoon, and it's suitable for all ages and
                                fitness levels. If you need special assistance due to mobility issues, like a
                                wheelchair, please inform us in advance
                            </p>
                        </div>
                        <div class="row coverage_parent">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="coverage">
                                    <h5>coverage:</h5>
                                    <p>Your guide will provide an introduction to the places you'll visit. The walk's
                                        organizers will share information about books on Ponnani and its heritage.
                                        You'll also receive a kit with a pen, notepad, route map, and program cards</p>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="following">
                                    <h5>Your walk route will include the following:</h5>
                                    <p>Ponnani Valiya Juma Masjid
                                        Maunathul Islam
                                        Misrippalli
                                        Valiya Jaram Museum
                                        Pandikashala (Old Warehouse Near harbour Road)
                                        Court Building
                                        Pattu Club
                                        Thottunnal Palli </p>
                                </div>
                            </div>
                        </div>
                        <div class="fees_parent">
                            <div class="fees-details">
                                <div class="row" style="padding: 10px 45px;">
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        <div class="coverage">
                                            <h5>includes:</h5>
                                            <p>Knowledgeable guide, Story tellers,
                                                Musical Treat, Snacks at a local Café and taxes.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="following meeting">
                                            <h5>Meeting Point:</h5>
                                            <p>Ponnani Juma <br>
                                                Masjid front gate.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-12">
                                        <div class="following">
                                            <h5>Date:</h5>
                                            <p>22 Oct 2023 <br>
                                                Sunday </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding: 10px 45px;">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="coverage">
                                            <h5>Excludes:</h5>
                                            <p>Transport, Meals, Tips and Entrances
                                            </p>
                                        </div>
                                        <div class="coverage">
                                            <h5>fee: <span style="font-size: small; color: rgb(102, 101, 101);">₹ 300
                                                    Per
                                                    person</span></h5>


                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="fees_button">
                                            <button>Register Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="event_inner_page_para" style="margin-top: 40px;">
                        <div class="ponanni_details">
                            <div class="ponanni">
                                <h1 style="color: #B29C4B;">Valappattanam </h1>
                            </div>
                            <div class="ponanni_img">
                                <img src="assets/images/PonanniVector.svg" alt="">
                            </div>
                        </div>
                        <div class="ponanni-para">
                            <p> Embark on a captivating heritage walk through Valappattanam, starting at the elegant
                                Kakkullangara Palli mosque, a stunning architectural gem. Explore the Manna Qabarstan
                                that tells the tale of Valappattanam's historical connections with various lands, and
                                discover the royal opulence of the Puthiyatheru Chirakkal Kovilakam palace. As you
                                stroll through these historic sites, uncover the untold stories of trade that have
                                shaped this coastal town, from ancient maritime commerce to the cross-cultural exchanges
                                that define Valappattanam's rich and diverse heritage.
                            </p>
                            <br>
                            <p>
                                The walk through these traditional heritage land of Valappattanam takes 5:00 hours and
                                it's suitable for all ages and fitness levels. If you need special assistance due to
                                mobility issues, like a wheelchair, please inform us in advance.
                                Meeting Point: Chirakkal Folklore Museum, Puthiyatheru, Kannur.
                            </p>
                        </div>
                        <div class="row coverage_parent">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="coverage">
                                    <h5>coverage:</h5>
                                    <p>Your guide will provide an introduction to the places you'll visit. The walk's
                                        organizers will share information about books written about the Valappattanam
                                        and its heritage. You'll also receive a kit with a pen, notepad, route map, and
                                        program cards.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="following">
                                    <h5>Your walk route will include the following:</h5>
                                    <p>Chirakkal Kovilakam
                                        Kakkulangara Palli
                                        Manna Qabarstan
                                        Kunnath Palli </p>

                                </div>
                            </div>
                        </div>
                        <div class="fees_parent">
                            <div class="fees-details">
                                <div class="row" style="padding: 10px 45px;">
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        <div class="coverage">
                                            <h5>includes:</h5>
                                            <p>Knowledgeable guide, Story tellers, One time meal, Snacks at a local Cafe
                                                and taxes.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="following meeting">
                                            <h5>Meeting Point:</h5>
                                            <p>Ponnani Juma <br>
                                                Masjid front gate.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-12">
                                        <div class="following">
                                            <h5>Date:</h5>
                                            <p>22 Oct 2023 <br>
                                                Sunday </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding: 10px 45px;">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="coverage">
                                            <h5>Excludes:</h5>
                                            Transport, Tips and Entrances.

                                        </div>
                                        <div class="coverage">
                                            <h5>fee: <span style="font-size: small; color: rgb(102, 101, 101);">INR 500
                                                    per person </span></h5>


                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="fees_button">
                                            <button>Register Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <style>
                    .event_inner_page_para {
                        /* border: 1px solid black; */
                        border-radius: 20px;
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
                    }
                </style>
            </div>
    </div>

    <!-- Footer Start -->
    <%- include('layout/footer.ejs') %>
        <!-- Footer End -->


</body>

</html>