<!DOCTYPE html>
<html class="no-js" lang="en">

<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favnew.svg">

<head>
    <title>
        <%= title %>
    </title>

    <%- include('layout/header.ejs') %>
</head>

<body>
    <div id="bg-color-purple">
        <div class="page_backarrow">
            <a href="/"><i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 19 20"
                        fill="none">
                        <path
                            d="M10.0054 0.265434C10.3271 0.587173 10.3564 1.09064 10.0931 1.44542L10.0054 1.54706L2.18829 9.36458L10.0054 17.1821C10.3271 17.5038 10.3564 18.0073 10.0931 18.3621L10.0054 18.4637C9.68366 18.7855 9.18019 18.8147 8.82541 18.5515L8.72376 18.4637L0.265433 10.0054C-0.0563049 9.68365 -0.0855541 9.18019 0.177686 8.82541L0.265433 8.72376L8.72376 0.265434C9.07768 -0.0884781 9.65148 -0.0884781 10.0054 0.265434Z"
                            fill="#FF4A8C" />
                    </svg></i></a>
        </div>
        <div class="container">
            <div class="events-page-main">
                <div class="event-title ">
                    <h1 style="color: #0077b6;">Events</h1>
                </div>

                <div class="rectangle_background_top">
                </div>
                <div class="row row_mobile">

                    <div class="col-12 col-md-4 event-box zoom-effect" data-section="">

                        <div class="event-box-section">
                            <!-- <div class="workshop">
                                <h1 class="workshop_title">

                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="40" viewBox="0 0 68 19"
                                    fill="none">
                                    <g filter="url(#filter0_b_14_640)">
                                        <path
                                            d="M0.2836 0.985077H67.9851V18.5373H0.2836L4.55948 9.60448L0.2836 0.985077Z"
                                            fill="white" fill-opacity="0.28" />
                                        <path
                                            d="M0.536283 1.14179H67.8284V18.3806H0.532361L4.70084 9.67214L4.73382 9.60325L4.69987 9.53483L0.536283 1.14179Z"
                                            stroke="white" stroke-opacity="0.1" stroke-width="0.313433" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_b_14_640" x="-5.10745" y="-4.40597" width="78.4836"
                                            height="28.3343" filterUnits="userSpaceOnUse"
                                            color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.69552" />
                                            <feComposite in2="SourceAlpha" operator="in"
                                                result="effect1_backgroundBlur_14_640" />
                                            <feBlend mode="normal" in="SourceGraphic"
                                                in2="effect1_backgroundBlur_14_640" result="shape" />
                                        </filter>
                                    </defs>
                                </svg>
                            </div> -->
                            <!-- <div class="event-img">
                                <img src="/assets/images/Attendee.png" alt=""
                                    onerror="this.src='/assets/images/no-image.jpg'" />
                            </div> -->
                            <a href="/malabar-heritage-walk">
                                <div class="event-content">
                                    <div class="event-content-head-title">
                                        <h2 class="event_card_inner-title">
                                            Heritage Walk
                                        </h2>
                                        <div class="event_vector">
                                            <img src="/assets/images/eventVector.svg" alt="">
                                        </div>
                                        <p>

                                            Step into the past and explore Malabar's rich heritage through guided
                                            Heritage
                                            Walks. Join our expert historians as they lead you through iconic locations
                                            like
                                            Thalankara, Thalassery, Kannur City, Valapattanam, Kuttichira, Kondoty,
                                            Tirurangadi and Ponnani, revealing untold stories and cultural treasures
                                            along
                                            the way.
                                        </p>
                                    </div>
                                </div>
                                <div class="event_button">
                                    <button>Know More <i class="fas fa-chevron-right"></i></button>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-12 col-md-4 event-box zoom-effect" data-section="">

                        <div class="event-box-section">
                            <!-- <div class="workshop">
                                <h1 class="workshop_title">

                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="40" viewBox="0 0 68 19"
                                    fill="none">
                                    <g filter="url(#filter0_b_14_640)">
                                        <path
                                            d="M0.2836 0.985077H67.9851V18.5373H0.2836L4.55948 9.60448L0.2836 0.985077Z"
                                            fill="white" fill-opacity="0.28" />
                                        <path
                                            d="M0.536283 1.14179H67.8284V18.3806H0.532361L4.70084 9.67214L4.73382 9.60325L4.69987 9.53483L0.536283 1.14179Z"
                                            stroke="white" stroke-opacity="0.1" stroke-width="0.313433" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_b_14_640" x="-5.10745" y="-4.40597" width="78.4836"
                                            height="28.3343" filterUnits="userSpaceOnUse"
                                            color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.69552" />
                                            <feComposite in2="SourceAlpha" operator="in"
                                                result="effect1_backgroundBlur_14_640" />
                                            <feBlend mode="normal" in="SourceGraphic"
                                                in2="effect1_backgroundBlur_14_640" result="shape" />
                                        </filter>
                                    </defs>
                                </svg>
                            </div> -->
                            <!-- <div class="event-img">
                                <img src="/assets/images/Attendee.png" alt=""
                                    onerror="this.src='/assets/images/no-image.jpg'" />
                            </div> -->
                            <div class="event-content">
                                <div class="event-content-head-title">
                                    <h2 class="event_card_inner-title">
                                        Workshop
                                    </h2>
                                    <div class="event_vector">
                                        <img src="/assets/images/eventVector.svg" alt="">
                                    </div>
                                    <p>

                                        Ignite your creativity and expand your skills at MLF's interactive Workshops.
                                        Led by experts, these sessions cover a range of disciplines, from creative
                                        writing to art and craft. Immerse yourself in hands-on learning and unlock your
                                        creative potential.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-4 event-box zoom-effect" data-section="">

                        <div class="event-box-section">
                            <!-- <div class="workshop">
                                <h1 class="workshop_title">

                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="40" viewBox="0 0 68 19"
                                    fill="none">
                                    <g filter="url(#filter0_b_14_640)">
                                        <path
                                            d="M0.2836 0.985077H67.9851V18.5373H0.2836L4.55948 9.60448L0.2836 0.985077Z"
                                            fill="white" fill-opacity="0.28" />
                                        <path
                                            d="M0.536283 1.14179H67.8284V18.3806H0.532361L4.70084 9.67214L4.73382 9.60325L4.69987 9.53483L0.536283 1.14179Z"
                                            stroke="white" stroke-opacity="0.1" stroke-width="0.313433" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_b_14_640" x="-5.10745" y="-4.40597" width="78.4836"
                                            height="28.3343" filterUnits="userSpaceOnUse"
                                            color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.69552" />
                                            <feComposite in2="SourceAlpha" operator="in"
                                                result="effect1_backgroundBlur_14_640" />
                                            <feBlend mode="normal" in="SourceGraphic"
                                                in2="effect1_backgroundBlur_14_640" result="shape" />
                                        </filter>
                                    </defs>
                                </svg>
                            </div> -->
                            <!-- <div class="event-img">
                                <img src="/assets/images/Attendee.png" alt=""
                                    onerror="this.src='/assets/images/no-image.jpg'" />
                            </div> -->
                            <div class="event-content">
                                <div class="event-content-head-title">
                                    <h2 class="event_card_inner-title"> Bookfair</h2>
                                    <div class="event_vector">
                                        <img src="/assets/images/eventVector.svg" alt="">
                                    </div>
                                    <p>
                                        Bookfair
                                        Get lost in the world of literature at our vibrant Book Fair. Discover an
                                        extensive collection of books across genres, meet authors, and connect with
                                        publishers. Celebrate the joy of reading and explore the power of storytelling.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-4 event-box zoom-effect" data-section="">

                        <div class="event-box-section">
                            <!-- <div class="workshop">
                                <h1 class="workshop_title">

                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="40" viewBox="0 0 68 19"
                                    fill="none">
                                    <g filter="url(#filter0_b_14_640)">
                                        <path
                                            d="M0.2836 0.985077H67.9851V18.5373H0.2836L4.55948 9.60448L0.2836 0.985077Z"
                                            fill="white" fill-opacity="0.28" />
                                        <path
                                            d="M0.536283 1.14179H67.8284V18.3806H0.532361L4.70084 9.67214L4.73382 9.60325L4.69987 9.53483L0.536283 1.14179Z"
                                            stroke="white" stroke-opacity="0.1" stroke-width="0.313433" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_b_14_640" x="-5.10745" y="-4.40597" width="78.4836"
                                            height="28.3343" filterUnits="userSpaceOnUse"
                                            color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.69552" />
                                            <feComposite in2="SourceAlpha" operator="in"
                                                result="effect1_backgroundBlur_14_640" />
                                            <feBlend mode="normal" in="SourceGraphic"
                                                in2="effect1_backgroundBlur_14_640" result="shape" />
                                        </filter>
                                    </defs>
                                </svg>
                            </div> -->
                            <!-- <div class="event-img">
                                <img src="https://img.freepik.com/free-photo/office-workers-using-finance-graphs_23-2150408645.jpg?size=626&ext=jpg&ga=GA1.1.790742631.1691391131"
                                    alt="" onerror="this.src='/assets/images/no-image.jpg'" />
                            </div> -->
                            <div class="event-content">
                                <div class="event-content-head-title">
                                    <h2 class="event_card_inner-title"> Campus Tours</h2>
                                    <div class="event_vector">
                                        <img src="/assets/images/eventVector.svg" alt="">
                                    </div>
                                    <p>

                                        MLF extends its literary and cultural celebration to college campuses. Engage in
                                        thought-provoking discussions, debates, and workshops led by MLF speakers and
                                        educators. Encourage intellectual exploration and join the MLF experience on
                                        campus.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-4 event-box zoom-effect" data-section="">

                        <div class="event-box-section">
                            <!-- <div class="workshop">
                                <h1 class="workshop_title">

                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="195" height="40" viewBox="0 0 68 19"
                                    fill="none">
                                    <g filter="url(#filter0_b_14_640)">
                                        <path
                                            d="M0.2836 0.985077H67.9851V18.5373H0.2836L4.55948 9.60448L0.2836 0.985077Z"
                                            fill="white" fill-opacity="0.28" />
                                        <path
                                            d="M0.536283 1.14179H67.8284V18.3806H0.532361L4.70084 9.67214L4.73382 9.60325L4.69987 9.53483L0.536283 1.14179Z"
                                            stroke="white" stroke-opacity="0.1" stroke-width="0.313433" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_b_14_640" x="-5.10745" y="-4.40597" width="78.4836"
                                            height="28.3343" filterUnits="userSpaceOnUse"
                                            color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.69552" />
                                            <feComposite in2="SourceAlpha" operator="in"
                                                result="effect1_backgroundBlur_14_640" />
                                            <feBlend mode="normal" in="SourceGraphic"
                                                in2="effect1_backgroundBlur_14_640" result="shape" />
                                        </filter>
                                    </defs>
                                </svg>
                            </div> -->
                            <!-- <div class="event-img">
                                <img src="https://img.freepik.com/free-photo/office-workers-using-finance-graphs_23-2150408645.jpg?size=626&ext=jpg&ga=GA1.1.790742631.1691391131"
                                    alt="" onerror="this.src='/assets/images/no-image.jpg'" />
                            </div> -->
                            <div class="event-content">
                                <div class="event-content-head-title">
                                    <h2 class="event_card_inner-title_mobile">Documentary Screening</h2>
                                    <h2 class="Documentary">
                                        Documentary <span class="event_card_inner-title">
                                            Screening</span> </h2>
                                    <div class="event_vector">
                                        <img src="/assets/images/eventVector.svg" alt="">
                                    </div>
                                    <p>
                                        Experience literature through a cinematic lens with MLF's Documentary
                                        Screening
                                        program. Explore thought-provoking documentaries that align with the
                                        festival's
                                        themes. Join discussions and embrace diverse storytelling mediums.</p>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="rectangle_background_down">
                </div>

            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <%- include('layout/footer.ejs') %>
        <!-- Footer End -->

        <!-- JS
  ============================================ -->

        <!-- carousel & jQuery JS -->


</body>

</html>