<!DOCTYPE html>
<html class="no-js" lang="en">


<body>
    <div class="main-wrapper">
        <!-- Header Navigation Start -->
        <%- include('layout/header.ejs') %>
            <!-- Header Navigation End -->

            <div class="container">
                <div class="attende-registration" style="margin-top: 100px">
                    <div class="registration-title">
                        <h1>Programmee</h1>
                    </div>
                    <div style="margin-top: 5px;">
                        <img src="/assets/images/pdf1.png" alt="">
                    </div>
                    <div style="margin-top: 5px;">
                        <img src="/assets/images/pdf2.png" alt="">
                    </div>
                    <div style="margin-top: 5px;">
                        <img src="/assets/images/pdf3.png" alt="">
                    </div>
                    <div style="margin-top: 5px;">
                        <img src="/assets/images/pdf4.png" alt="">
                    </div>

                </div>
            </div>

    </div>

    <!-- Footer Start -->
    <%- include('layout/footer.ejs') %>
        <!-- Footer End -->


</body>


</html>