<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
    <style>
      body {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100vw;
        background-color: #f5f5f5;
        margin: 10px;
      }

      #qr-scanner-container {
        position: relative;
        width: 100%;
        max-width: 400px;
        font-size: larger;
        background-color: #000;
        border-radius: 10px;
        overflow: hidden;
      }

      #video {
        width: 200%;
        height: auto;
      }

      #start-button,
      #stop-button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        border-radius: 32px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }

      #start-button {
        background-color: green;
      }

      #stop-button {
        background-color: red;
        display: none;
      }

      #stop-button:hover {
        background-color: #303f9f;
      }

      .result {
        border-radius: 0 0 10px 10px;
        background: white;
        padding: 10px;
        padding-bottom: 20px;
        text-align: center;
      }

      .instruction {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
      }

      @media (max-width: 768px) {
        #qr-scanner-container {
          max-width: 200%;
          border-radius: 0;
        }
      }
    </style>
  </head>
  <body>
    <div id="qr-scanner-container">
      <div class="instruction">Mark Attendee by scanning the QR</div>
      <video id="video" autoplay muted playsinline></video>
      <canvas id="qr-canvas" style="display: none"></canvas>
      <button id="start-button">Start Scanning</button>
      <button id="stop-button" style="display: none">Stop Scanning</button>
    </div>
    <div class="result" id="result"></div>

    <script>
      const video = document.getElementById("video");
      const startButton = document.getElementById("start-button");
      const stopButton = document.getElementById("stop-button");
      const resultDiv = document.getElementById("result");
      let scanning = false;

      navigator.mediaDevices
        .getUserMedia({
          video: {
            facingMode: {
              exact: "environment",
            },
          },
        })
        .then((stream) => {
          video.srcObject = stream;
        })
        .catch((error) => {
          console.error("Error accessing camera:", error);
        });

      video.addEventListener("play", () => {
        const canvas = document.getElementById("qr-canvas");
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const ctx = canvas.getContext("2d");

        const startScanning = () => {
          scanning = true;
          startButton.style.display = "none";
          stopButton.style.display = "block";
          resultDiv.textContent = "Scanning...";

          const scan = () => {
            if (!scanning) return;

            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = ctx.getImageData(
              0,
              0,
              canvas.width,
              canvas.height
            );
            const code = jsQR(
              imageData.data,
              imageData.width,
              imageData.height
            );

            if (code) {
              // QR code has been found
              const value = code.data;

              // Send value to API endpoint
              fetch("/scan/validateqr", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ value }),
              });

              resultDiv.textContent = "QR Code detected: " + code.data;
            }

            requestAnimationFrame(scan);
          };

          requestAnimationFrame(scan);
        };

        const stopScanning = () => {
          scanning = false;
          startButton.style.display = "block";
          stopButton.style.display = "none";
          resultDiv.textContent = "";
        };

        startButton.addEventListener("click", startScanning);
        stopButton.addEventListener("click", stopScanning);
      });
    </script>
  </body>
</html>
