-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/*-- Common Style --*/
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap");

:root {
  --font-playfair: "Playfair Display", serif;
  --font-Inter: "Inter", sans-serif;
  --font-century: "Century Gothic", Arial, sans-serif;
  --font-blaa: "Blaak Regular PERSONAL USE";
}
@font-face {
  font-family: "Century Gothic";
  src: url("fonts/centurygothic.woff2") format("woff2"),
    /* Modern Browsers */ url("fonts/centurygothic.woff") format("woff"); /* Older Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blaak Regular PERSONAL USE";
  src: url("fonts/BlaakRegularPERSONALUSE.woff2") format("woff2"),
    url("fonts/BlaakRegularPERSONALUSE.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-item {
  opacity: 1;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.1) !important;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 0;
}

.owl-carousel .owl-nav .owl-next {
  right: 0;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}

.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #49bdf2;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
  left: -25px;
}

.owl-carousel:hover .owl-nav .owl-next {
  right: -25px;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.slider-92911 {
  position: relative;
}

/* Carousel 4*/
.testimony-29101 .image {
  width: 40%;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 991.98px) {
  .testimony-29101 .image {
    height: 300px;
  }
}

.testimony-29101 .text {
  width: 60%;
  padding: 7rem 4rem;
  background: #007bff;
}
.testimony-29101 .text blockquote {
  position: relative;
  padding-bottom: 50px;
  font-size: 20px;
}
.testimony-29101 .text blockquote p {
  color: #fff;
  line-height: 1.8;
}
.testimony-29101 .text blockquote .author {
  font-size: 16px;
  letter-spacing: 0.1rem;
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 991.98px) {
  .testimony-29101 .image,
  .testimony-29101 .text {
    width: 100%;
    display: block !important;
  }
}

.slide-one-item {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 991.98px) {
  .slide-one-item .owl-nav {
    display: none;
  }
}
.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000;
}
.slide-one-item .owl-nav .owl-prev span,
.slide-one-item .owl-nav .owl-next span {
  font-size: 30px;
}
.slide-one-item .owl-nav .owl-prev:hover,
.slide-one-item .owl-nav .owl-next:hover {
  color: #000;
}
.slide-one-item .owl-nav .owl-prev:active,
.slide-one-item .owl-nav .owl-prev:focus,
.slide-one-item .owl-nav .owl-next:active,
.slide-one-item .owl-nav .owl-next:focus {
  outline: none;
}
.slide-one-item .owl-nav .owl-prev {
  left: 20px;
}
.slide-one-item .owl-nav .owl-next {
  right: 20px;
}
.slide-one-item .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.slide-one-item .owl-dots .owl-dot {
  display: inline-block;
}
.slide-one-item .owl-dots .owl-dot > span {
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  display: inline-block;
  width: 15px;
  height: 3px;
  background: rgba(0, 123, 255, 0.4);
  margin: 3px;
}
.slide-one-item .owl-dots .owl-dot.active > span {
  width: 15px;
  background: #007bff;
}

.thumbnail {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%);
  z-index: 99;
}
.thumbnail li {
  display: inline-block;
}
.thumbnail li a {
  display: block;
  margin: 4px;
}
.thumbnail li a img {
  width: 50px;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.thumbnail li.active a img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.Documentary {
  text-align: center !important;
  line-height: initial;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  .owl-carousel .owl-dots {
    display: none;
  }
  .Documentary {
    display: none;
  }
  .event_card_inner-title_mobile {
    display: block !important;
    color:#B29C4B;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    text-underline-offset: 12px;
    padding-bottom: 15px;
    text-align: center;
  }
}
.event_card_inner-title_mobile {
  display: none;
}
.Documentary {
  text-align: center;
  line-height: initial;
  padding-bottom: 20px;
  color: #b29c4b;
}
/* event_inner pagess --------------*/
.event_inner_page {
  margin-top: 150px;
  padding-bottom: 100px;
}
.ponanni h1 {
  font-size: 45px;
  font-family: var(--font-blaa);
  margin-top: 11px;
}
.ponanni_details {
  padding: 10px 0px;
  display: flex;
  justify-content: space-evenly;
}
.ponanni-para {
  padding: 10px 60px;
  
}
.ponanni-para p{
  font-family: var(--font-Inter);
  line-height: initial
}
.fees_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.fees_button button {
  padding: 10px 70px;
  color: #fff;
  background-color: #4faf9e;
  border: none;
  border-radius: 20px;
}
.fees-details {
  background-color: #f5ebc6;
  border-radius: 20px;
  padding: 10px 0px;
}
.fees_parent {
  padding: 20px;
  border: 20px;
}
.meeting {
  margin-left: 70px;
}
.event_inner_page_para {
  /* border: 1px solid black; */
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
}
.coverage_parent {
  padding: 10px 60px;
}
.coverage h5{
  font-family: var(--font-Inter);
}
@media (max-width: 700px) {
  .ponanni h1 {
    font-size: 25px;
    /* margin-left: 10px; */
  }
  .ponanni-para {
    padding: 10px 20px;
  }
  .coverage_parent {
    padding: 10px 30px;
  }
  .ponanni_img img {
    width: 200px;
  }
  .meeting {
    margin-left: 0px;
  }
  .fees_button button {
    padding: 10px 30px;
    color: #fff;
    background-color: #4faf9e;
    border: none;
    border-radius: 20px;
    font-family: var(--font-blaa);
  }
  .fees_button {
    padding-top: 10px;
    margin-left: 0px;
  }
}
.event_button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.event_button button{
  padding: 10px 55px;
  color: #fff;
  background-color: #4faf9e;
  border: none;
  border-radius: 10px;
  font-family: var(--font-Inter);
}